<div class="row">
    <div class="col-sm-4 offset-sm-4">
   <div class="card card-body">
  <form >
    <div class="form-group">
            <input type="text" name="nombre" [(ngModel)]="serie.nombre" class="form-control" placeholder="nombre" autofocus>
    </div>
    <div class="form-group">
        <input type="text" name="marca" [(ngModel)]="serie.marca" class="form-control" placeholder="marca" autofocus>
</div>
<div class="form-group">
    <input type="text" name="tipo" [(ngModel)]="serie.tipo" class="form-control" placeholder="tipo" autofocus>
</div>
<button (click)="editar()" class="btn btn-info">
    Editar
  </button>
  </form>
   </div>
    </div>
  </div>
