<div class="container-fluid py-4">
    <div class="card-group" >
        <div class="card" style="border: none;" >
          <img src="https://images.ctfassets.net/u7dr43bszaws/16aD9sZ56uRw0tclhKD6m5/beb3d18afa2db0f9735e893fd1c0a4a1/tipos-de-impresoras.webp"  height="150px" width="150px" class="card-img-top" alt="...">
          <div class="card-body" class="text-center">
            <h5 class="card-title">Administrar Modelos de impresoras</h5>
            <p class="card-text">Crea, actualiza, elimina modelos</p>
            <p class="card-text"><small class="text-muted" class="text-center"><a routerLink="/modelo"><button type="button" class="btn" style="background-color: rgb(51, 51, 187) ; color: white;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
              Acceder
             </button></a></small></p>
          </div>
        </div>
        <div class="card" style="border: none;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJ2HuI3OXvppE5klUttYIIGHmkz06UzIxe3A&usqp=CAU" height="150px" width="150px" class="card-img-top" alt="...">
          <div class="card-body"class="text-center">
            <h5 class="card-title">Administrar Series de impresoras</h5>
            <p class="card-text">Crea, actualiza, elimina series</p>
            <p class="card-text"><small class="text-muted" class="text-center"><a routerLink="/serie"><button type="button" class="btn" style="background-color: rgb(51, 51, 187); color: white;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
             Acceder
            </button></a></small></p>
          </div>
        </div>
        <div class="card" style="border: none;">
          <img src="https://thumbs.dreamstime.com/b/reparaci%C3%B3n-de-impresoras-inyecci%C3%B3n-tinta-con-suministro-continuo-maestros-guantes-sostienen-manos-tanques-mantenimiento-y-equipo-260940992.jpg" height="150px" width="150px" class="card-img-top" alt="...">
          <div class="card-body"class="text-center">
            <h5 class="card-title">Taller de reparacion</h5>
            <p class="card-text">Visualiza equipos en reparacion</p>
            <p class="card-text"><small class="text-muted" class="text-center"><a routerLink="/micro"><button type="button" class="btn " style="background-color: rgb(51, 51, 187); color: white;" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
              Acceder
             </button></a></small></p>
          </div>
        </div>
      </div>
    </div>
